/* Home.css */

.homepage {
  font-family: 'Arial', sans-serif;
  position: relative;
  top: 30px;
}

.hero-section {
  position: relative;
  height: 880px; /* Adjust height as needed */
  /* overflow: hidden; */
  /* display: flex;
  flex-direction: column; */
  top:200px;
  background-image: url('../assets/welcome.png'); /* Apply background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Ensure the image does not repeat */
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1; /* Ensure content is above the background image */
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Optional: Dark background for better text readability */
  border-radius: 10px; /* Optional: Rounded corners */
}

.slider-heading {
  font-size: 4rem; /* Adjust size as needed */
  font-weight: bold;
  margin-bottom: 1rem;
}

.slider-subtitle {
  font-size: 1.5rem; /* Adjust size as needed */
}

.category-section {
  background-color: #f4f4f4;
  position: relative;
  top:200px;
}

.categories-container {
  max-width: 1200px;
  margin: 0 auto;
}

.category-item {
  transition: transform 0.3s ease-in-out;
}

.category-item:hover {
  transform: translateY(-10px);
}

.category-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.category-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.category-button:hover {
  background-color: #0056b3;
}
